<%= link_to "Edit #{@customer.name}", edit_customer_path(@customer) %>
</br>
<label> Name:</label>
<p>
  <%= @customer.name%> 
</p>
</br>
<label>Email Address:</label>
<p>
  <%= @customer.email_address%> 
</p>
</br>
<label>Contact Number:</label>
<p>
  <%= @customer.contact_number%> 
</p>
</br>
<label> After Hours Number:</label>
<p>
  <%= @customer.number_after_hours %> 
</p>
</br>
<labe> Occupation:</label>
<p>
  <%= @customer.occupation %> 
</p>
</br>
<labe> Experience:</label>
<p>
  <%= @customer.experience %> 
</p>
</br>

<label>Insured Name:</label>
<p>
  <%= @customer.insured_name %> 
</p>
</br>
<label>Trading Name:</label>
<p>
  <%= @customer.trading_name %> 
</p>
</br>
<labe> Subsidiaries:</label>
<p>
  <%= @customer.subsidiaries %> 
</p>
</br>
<labe> ABN:</label>
<p>
  <%= @customer.abn %> 
</p>
</br>
<labe> Website:</label>
<p>
  <%= @customer.website %> 
</p>
</br>

<label> AddressLine 1:</label>
<p>
  <%= @customer.address_line_1 %> 
</p>
</br>
<label> AddressLine 2:</label>
<p>
  <%= @customer.address_line_2 %> 
</p>
</br>
<labe> State:</label>
<p>
  <%= @customer.state %> 
</p>
</br>
<labe> Country:</label>
<p>
  <%= @customer.country %> 
</p>
</br>
<label>Post Code:</label>
<p>
  <%= @customer.post_code%> 
</p>
</br>

<label>Advice Type:</label>
<p>
  <%= @customer.advice_type %> 
</p>
</br>
<labe> Source:</label>
<p>
  <%= @customer.source %> 
</p>
</br>
<label>Current Insurer:</label>
<p>
  <%= @customer.current_insurer %> 
</p>
</br>
<label>Current Broker:</label>
<p>
  <%= @customer.current_broker %> 
</p>
</br>
<label>Interested Parties:</label>
<p>
  <%= @customer.interested_parties %> 
</p>
</br>
<label> Expiry Date forCurrent Insurance:</label>
<p>
  <%= @customer.expiry_date %> 
</p>
</br>
<label>Other Notes:</label>
<p>
  <%= @customer.notes %> 
</p>
