<%= link_to "Edit #{@customer.name}", edit_customer_path(@customer) %>
<br>
<h3>Customer Details</h3>
<br>
<label> Name:</label>
<%= @customer.name%> 

</br>
<label>Email Address:</label>
<%= @customer.email_address%> 

</br>
<label>Contact Number:</label>
<%= @customer.contact_number%> 

</br>
<label> After Hours Number:</label>
<%= @customer.number_after_hours %> 

</br>
<labe> Occupation:</label>
<%= @customer.occupation %> 

</br>
<labe> Experience:</label>
<%= @customer.experience %> 

</br>
<h3>Property Details</h3>
<br>
<label>Insured Name:</label>
<%= @customer.insured_name %> 

</br>
<label>Trading Name:</label>
<%= @customer.trading_name %> 

</br>
<labe> Subsidiaries:</label>
<%= @customer.subsidiaries %> 

</br>
<labe> ABN:</label>
<%= @customer.abn %> 

</br>
<labe> Website:</label>
<%= @customer.website %> 

</br>
<h3>Address</h3>
<br>
<label> Address Line 1:</label>
<%= @customer.address_line_1 %> 

</br>
<label> Address Line 2:</label>
<%= @customer.address_line_2 %> 

</br>
<labe> State:</label>
<%= @customer.state %> 

</br>
<labe> Country:</label>
<%= @customer.country %> 

</br>
<label>Post Code:</label>
<%= @customer.post_code%> 

</br>

<h3>Insurance Details</h3>
<label>Advice Type:</label>
<%= @customer.advice_type %> 

</br>
<labe> Source:</label>
<%= @customer.source %> 

</br>
<label>Current Insurer:</label>
<%= @customer.current_insurer %> 

</br>
<label>Current Broker:</label>
<%= @customer.current_broker %> 

</br>
<label>Interested Parties:</label>
<%= @customer.interested_parties %> 

</br>
<label> Expiry Date for Current Insurance:</label>
<%= @customer.expiry_date %> 

</br>


<label> Been Refused Policy: </label>
<%= @customer.refused_policy %>
</br>

<label> Beem Refused Claim: </label>
<%= @customer.refused_claim %>
</br>

<label> Had to Impose Special Conditions: </label>
<%= @customer.impose_special_conditions %>
</br>

<label> Been Convicted or Declared Bankrupcy: </label>
<%= @customer.convicted_or_bankrupt %>
</br>

<label> Had a claim in the last 5 years: </label>
<%= @customer.five_year_claims %>
</br>  
<label> Details: </label>
<%= @customer.property_situation %>
</br>
<h3>Other</h3>
<br>
<label>Other Notes:</label>
<%= @customer.notes %> 