<!DOCTYPE html>
<html>
  <head>
    <title>Mmins</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <ul>
        <li>
          <%= link_to "New Customer", new_customer_path %>
        </li>
        <li>
          <%= link_to "All Customers", customers_path %>
        </li>
      </ul>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
